/* Normal styles */ 
body {

	h1 { text-shadow: 2px 2px gray; } 
	a { 
		color: #520101;
		text-decoration: none;
		transition: 0.17578s color linear;
		text-shadow: 3px 3px 6px rgba(22, 44, 111, 0.8);
		
		&:visited {
			color: #2955CC;
		}

		&:hover, &:focus {
			color: #C50202;
		}

	}
	
	img { float: right; width: 250px; padding-left: 20px; }	
}

/* High contrast */ 
body.high-contrast { 
	
	background-color: DarkBlue; 
	color: yellow; 

	h1 { text-shadow: none; }
} 

/* Print */
body.print {

	h1 { text-shadow: none; }
	img { display: none; }
}

